.pfbc-label {
	display: block;
}

.pfbc-element {
	padding-bottom: 5px;
}

.pfbc-textbox {
	width: 100%;
}

.pfbc-textarea {
	width: 100%;
}

.pfbc-select {
	width: 100%;
}

.pfbc-radio {
	float: left;
	margin: 0 4px;
}

.pfbc-radio-first {
	margin-left: 0 !important;
}

.pfbc-radio-last {
	margin-right: 0 !important;
}

.pfbc-checkbox {
	float: left;
	margin: 0 4px;
}

.pfbc-checkbox-first {
	margin-left: 0 !important;
}

.pfbc-checkbox-last {
	margin-right: 0 !important;
}

.pfbc-buttons {
	text-align: right;
}

.pfbc-required {
	color: #990000; 
}
